extends ../layout

block content
  .row
    h2.page-header.col-md-12
      | Amet earum ipsa modi accusantium possimus.
    .col-md-6
      h3 Full circle is not full moon?
      img.img-circle.pull-left(data-src='holder.js/200x200/industrial')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-md-6
      h3 Which is more important!
      img.img-thumbnail.pull-right(data-src='holder.js/200x200/social')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-md-12
      h3 Board meeting.
      img.img-circle.pull-left(src='http://lorempixel.com/100/100/people')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum dictum nulla, eu porttitor tellus commodo eget. Donec ut rutrum tellus. Quisque ligula nunc, porttitor quis luctus quis, viverra sed nibh. Ut laoreet convallis justo, ac tincidunt nisl tincidunt non. Donec eu magna id elit ultrices vehicula et ac magna. Proin sed felis ultrices, porttitor quam et, ullamcorper tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum tortor vel lectus rutrum porttitor. Suspendisse ultrices justo urna, porttitor iaculis ante viverra nec. Praesent semper commodo tincidunt. Nulla facilisi. Quisque tincidunt accumsan magna pharetra luctus. Cras hendrerit viverra quam eget pulvinar. Morbi sed venenatis tortor, sed ultrices elit.

      h3 Recent aquisition
      p Pellentesque luctus tincidunt sapien in tempus. Nulla vestibulum augue nec ligula lobortis, in mattis leo gravida. Etiam adipiscing diam mauris, sed tincidunt dolor feugiat vestibulum. Vivamus eget ipsum vitae neque pulvinar ullamcorper sed quis metus. Nunc nisi turpis, consectetur vitae nunc vitae, posuere commodo sapien. Donec elit mauris, rutrum at rhoncus eget, malesuada et turpis. Suspendisse sodales fermentum nisi in egestas. Pellentesque vitae arcu consectetur, faucibus sem et, lacinia felis.

      h3 Smart mapping
      p Sed vitae nisl et massa lacinia hendrerit eget sit amet lorem. Fusce congue erat sapien, luctus rhoncus turpis condimentum nec. Etiam sodales interdum dignissim. Integer auctor imperdiet interdum. Proin tempus, massa sit amet vehicula volutpat, dolor orci accumsan nibh, quis ornare nulla lacus hendrerit augue. Fusce aliquet vel ligula sed lacinia. Sed sit amet commodo elit. Aliquam pulvinar elementum dui. Fusce suscipit, velit et mollis gravida, enim erat vestibulum velit, ac malesuada metus lorem sit amet nibh. Maecenas sollicitudin viverra fermentum. Vestibulum fringilla arcu blandit augue bibendum volutpat.

      h3 Powerful blow.
      p Maecenas bibendum, justo sed blandit consectetur, sem diam sollicitudin erat, et consectetur arcu sapien eu diam. Fusce ultrices cursus enim et laoreet. Mauris facilisis nec est sagittis sodales. Fusce laoreet nulla quis urna malesuada porttitor. Quisque urna lorem, pulvinar ac scelerisque et, venenatis sed lorem. In faucibus facilisis libero ut rhoncus. Vestibulum pretium mauris rutrum libero egestas, non euismod urna tempor. In nec orci faucibus lectus volutpat ullamcorper tempus nec nisi. Etiam nec eros eros. Sed vestibulum dui at turpis mattis congue. Phasellus egestas risus magna, vel varius mi pretium sed. Ut sit amet mollis felis, et rutrum ante. Aenean eget ligula ac mauris rhoncus sodales vel eu orci.

      h3 Almost as good
      p Quisque fringilla quis nisl nec dapibus. Suspendisse potenti. Integer malesuada nibh sed dolor blandit tempor. Nullam ullamcorper egestas condimentum. Nullam tincidunt erat neque, nec posuere eros rhoncus sed. Praesent tristique tristique enim eget imperdiet. Morbi faucibus, sem sit amet consequat ultricies, massa elit aliquet nisl, a sodales ipsum lectus et urna. Donec vitae consequat velit. In consectetur lacus non arcu rutrum, eu mollis nisi scelerisque. Duis varius fermentum urna, non convallis odio posuere eu. Vestibulum felis est, varius sit amet ultrices quis, imperdiet sed arcu. Suspendisse et metus quam. Vivamus ut odio sapien. Donec nisl neque, eleifend id lobortis eget, imperdiet eget odio.
