h1
  a( href='/' )
    img.img-responsive(data-src='holder.js/940x250/industrial')

nav.navbar.navbar-default
  ul.nav.navbar-nav
    li: a( href='http://kuntau.org')
      | Products
    li.active: a( href='http://kuntau.org')
      | Customers
    li: a( href='http://kuntau.org')
      | Contact
    li: a( href='http://kuntau.org')
      | About

  form.navbar-form.navbar-right(role='search')
    .input-group
      input.form-control( type='text', placeholder='Enter text...' )
      .input-group-btn
        button.btn.btn-default( type='submit' )
          span.glyphicon.glyphicon-search

p.lead Lorem sapiente doloribus ipsa ut dolorem. Suscipit ex earum perspiciatis libero magni libero, lorem modi dolor quia doloribus voluptates. Natus sit blanditiis vel eos ab vel laborum rerum? Suscipit dolores.
